# Dart / Flutter

# Files and directories created by pub
.dart_tool/
.packages
build/

# Flutter artifacts
.backup_flutter_artifacts/
.flutter-plugins
.flutter-plugins-dependencies

# Avoid committing pubspec.lock for library packages
pubspec.lock

# Documentation
doc/api/

# Environment variables
.env*

# Generated JS files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map
